<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Security-Policy"  content="default-src *  data: blob: filesystem: about: ws: wss: 'unsafe-inline' 'unsafe-eval';script-src * 'unsafe-inline' 'unsafe-eval';connect-src * 'unsafe-inline';img-src * data: blob: 'unsafe-inline';frame-src *;style-src * data: blob: 'unsafe-inline';font-src * data: blob: 'unsafe-inline';">
        <meta charset="UTF-8">
        <meta http-equiv=”Content-Type content="HTML, CSS, JavaScript">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/home-styles.css">
        <title>Project Apps</title>
    </head>
    <body>
        <div class='show'>
            <div id='show-slider'>
                <a href="/slider"><img src="https://i.ibb.co/7N3jZRN/slider.jpg" alt="Fluffy Clouds"></a>
                <p>Slider - a traditional box positioning project with basic animation</p>
            </div>
            <div>
                <a href="/todo"><img src="https://i.ibb.co/xzghgP0/To-do.jpg" alt="To do UI"></a>
                <p>ToDo - a basic project featuring persistance via local storage</p>            
            </div>    
            <div>
                <a href="/menu"><img src="https://i.ibb.co/gFnzN2z/menu.jpg" alt="A menu"></a>
                <p>Menu - an SPA using higher order array methods</p>
            </div>
            <div>
                <a href="https://mybraryweb-dev.herokuapp.com/books/new"><img src="https://i.ibb.co/fHgs8N1/mybrary.jpg" alt="book collection UI"></a>
                <p>Mybrary - a basic MVC project using mongodb and filePond</p>
                <p></p>
            </div>    
            <div>
                <a href="https://memo-ries-project.herokuapp.com/api"><img src="https://i.ibb.co/WghF5yH/memories.jpg" alt="A post app"></a>
                <p>Memories App - a posting tool demonstrating persistence of elements of multipart form and familiarity with the react library</p> 
            </div>
        <div class="outer">
            <div>
                <a href="https://hooja-app-2.herokuapp.com/"><img src="https://i.ibb.co/d6XtMYT/hoojaapp.jpg" alt="A dynamic sorting app"></a>
                  <p>Hooja App - a chooser game experience which persists images and status of various objects and makes use of conditional formatting and responsive design</p> 
            </div>
        </div>
        </div>
    </body>
</html>